# 1) Check Present Working Directory

In [1]:
pwd

'C:\\Users\\mkrijal\\Desktop\\Assignment1'

# 2) Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np
import csv

# 3) Import dataset and call the dataframe as telco

In [4]:
telco = pd.read_csv('C://Users/mkrijal/Desktop/Assignment1/Telco-Customer-Churn.csv')
telco.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

# 4) See the first 10 columns and 10 rows

In [9]:
telco.ix[0:10, 0:10]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No
6,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No
7,6713-OKOMC,Female,0,No,No,10,No,No phone service,DSL,Yes
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No
9,6388-TABGU,Male,0,No,Yes,62,Yes,No,DSL,Yes
10,9763-GRSKD,Male,0,Yes,Yes,13,Yes,No,DSL,Yes

# 5) Total number of observations

In [10]:
len(telco.index)

7043

# 6) Show all the columns name

In [11]:
telco.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

# 7) Type of column 'Churn'

In [12]:
telco.dtypes['Churn']

dtype('O')

# 8) View only the column 'gender', 'SeniorCitizen' and 'Partner'

In [13]:
telco[['gender', 'SeniorCitizen', 'Partner']]

      gender  SeniorCitizen Partner
0     Female              0     Yes
1       Male              0      No
2       Male              0      No
3       Male              0      No
4     Female              0      No
5     Female              0      No
6       Male              0      No
7     Female              0      No
8     Female              0     Yes
9       Male              0      No
10      Male              0     Yes
11      Male              0      No
12      Male              0     Yes
13      Male              0      No
14      Male              0      No
15    Female              0     Yes
16    Female              0      No
17      Male              0      No
18    Female              0     Yes
19    Female              0      No
20      Male              1      No
21      Male              0     Yes
22      Male              0      No
23    Female              0     Yes
24      Male              0     Yes
25    Female              0      No
26      Male              0     Yes
27      Male              0     Yes
28      Male              0     Yes
29    Female              0      No
...      ...            ...     ...
7013  Female              0      No
7014    Male              0      No
7015    Male              1     Yes
7016  Female              0      No
7017  Female              0      No
7018    Male              0     Yes
7019  Female              0      No
7020    Male              0     Yes
7021    Male              0      No
7022    Male              0      No
7023  Female              1     Yes
7024    Male              0     Yes
7025  Female              0      No
7026  Female              0      No
7027    Male              0      No
7028  Female              0     Yes
7029  Female              1      No
7030  Female              0      No
7031    Male              1     Yes
7032    Male              1      No
7033    Male              0      No
7034  Female              0      No
7035    Male              0      No
7036  Female              0      No
7037  Female              0      No
7038    Male              0     Yes
7039  Female              0     Yes
7040  Female              0     Yes
7041    Male              1     Yes
7042    Male              0      No

[7043 rows x 3 columns]

# 9)Total number of customer based on Internet Service

In [16]:
telco.groupby(['InternetService']).size()

InternetService
DSL            2421
Fiber optic    3096
No             1526
dtype: int64

# 10)Total number of customer based on internet service group by gender

In [18]:
telco.groupby(['InternetService', 'gender']).size().unstack()

gender           Female  Male
InternetService
DSL                1188  1233
Fiber optic        1553  1543
No                  747   779

# 11) Percentage of customer based on internet service and gender

In [24]:
grouped = telco.groupby(['InternetService','gender'])
s = grouped.size() * 100 / telco.shape[0]
s.unstack()

gender              Female       Male
InternetService
DSL              16.867812  17.506744
Fiber optic      22.050263  21.908278
No               10.606276  11.060628

# 12) Select first 5 customer that use fiber optic as internet service

In [25]:
fiber_optic = telco[telco['InternetService'].isin(['Fiber optic'])]
fiber_optic[0:5]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes
6,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4,No
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes
12,8091-TTVAX,Male,0,Yes,No,58,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,No,Credit card (automatic),100.35,5681.1,No

# 13) Mean of monthly charges based on gender

In [27]:
telco['MonthlyCharges'].groupby(telco['gender']).mean()

gender
Female    65.204243
Male      64.327482
Name: MonthlyCharges, dtype: float64

# 14) No of customer that choose paperless billing and grouped by gender

In [33]:
Paperless = telco[telco['PaperlessBilling'] == 'Yes']
Paperless.groupby('gender').size()

gender
Female    2086
Male      2085
dtype: int64

# 15) No of customer that churn while holding 1 year contract

In [35]:
first_year = telco[telco['Contract'].isin(['One year']) & telco['Churn'].isin(['Yes'])]
len(first_year)

166